html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.author-section .left-block, .author-section .container, .create-nft-section .create-nft-wrapper, .s-4 .container, .images-section .container, .s-3 .cards-wrapper-2, .s-3 .container, .s-2 .container, .s-2 .cards-wrapper, .main-section .s-1 .container, .header-section .s-1 .container, .main-section .header, .header-section .header, .author-section .card-wrapper, .images-section .card-wrapper {
  max-width: 1120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  right: 0;
  left: 0;
  margin: auto;
}

.author-section .card-wrapper, .images-section .card-wrapper {
  margin-top: 40%;
  position: absolute;
  flex-wrap: wrap;
}
.author-section .card-wrapper .card-item, .images-section .card-wrapper .card-item {
  width: 260px;
  height: 450px;
  background-color: #282828;
  border: 0.1em solid gray;
  border-radius: 30px;
  opacity: 95%;
  transition: all 0.5s linear;
  cursor: pointer;
  margin-bottom: 80px;
}
.author-section .card-wrapper .card-item:hover, .images-section .card-wrapper .card-item:hover {
  transform: scale(1.05);
  box-shadow: 30px 25px 54px -4px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 30px 25px 54px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 30px 25px 54px -4px rgba(0, 0, 0, 0.51);
}
.author-section .card-wrapper .card-item .card-item-content, .images-section .card-wrapper .card-item .card-item-content {
  width: 210px;
  margin: auto;
}
.author-section .card-wrapper .card-item .card-item-content > img:nth-child(1), .images-section .card-wrapper .card-item .card-item-content > img:nth-child(1) {
  border-radius: 50%;
  margin-left: 40%;
}
.author-section .card-wrapper .card-item .card-item-content > img:nth-child(2), .images-section .card-wrapper .card-item .card-item-content > img:nth-child(2) {
  border-radius: 20px;
  height: 170px;
  width: 210px;
}
.author-section .card-wrapper .card-item .card-item-content h5, .images-section .card-wrapper .card-item .card-item-content h5 {
  font-size: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 35px 0;
}
.author-section .card-wrapper .card-item .card-item-content .card-item-text, .images-section .card-wrapper .card-item .card-item-content .card-item-text {
  display: flex;
  justify-content: space-between;
}
.author-section .card-wrapper .card-item .card-item-content .card-item-text p, .images-section .card-wrapper .card-item .card-item-content .card-item-text p {
  margin-top: 10px;
  font-size: 14px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
.author-section .card-wrapper .card-item .card-item-content .card-item-text p span, .images-section .card-wrapper .card-item .card-item-content .card-item-text p span {
  font-size: 18px;
  font-weight: 600;
}
.author-section .card-wrapper .card-item button, .images-section .card-wrapper .card-item button {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: rgb(111, 60, 231);
  border: none;
  width: 150px;
  font-size: 14px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: all 0.3s linear;
  margin-left: 20%;
  margin-top: 15%;
}
.author-section .card-wrapper .card-item button:hover, .images-section .card-wrapper .card-item button:hover {
  background-color: white;
  color: rgb(111, 60, 231);
  border: 1px solid rgb(111, 60, 231);
}

.main-section {
  background-image: url("../images/banner-bg.jpg");
  height: 920px;
}

.main-section, .header-section {
  background-color: purple;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-section .header, .header-section .header {
  background-color: white;
  border-radius: 50px;
  padding: 10px 0;
  position: absolute;
  top: 30px;
}
.main-section .header > div, .header-section .header > div {
  margin-left: 30px;
}
.main-section .header nav > ul, .header-section .header nav > ul {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 50px;
}
.main-section .header li > a, .header-section .header li > a {
  font-size: 15px;
  color: rgb(109, 109, 109);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s linear;
}
.main-section .header li > a:hover, .main-section .header li > .active, .header-section .header li > a:hover, .header-section .header li > .active {
  padding: 10px 15px;
  color: white;
  background-color: rgb(111, 60, 231);
  border-radius: 20px;
  font-size: 16px;
}
.main-section .s-1 .container, .header-section .s-1 .container {
  position: absolute;
  margin-top: 250px;
}
.main-section .s-1 .container > .container-wrapper, .header-section .s-1 .container > .container-wrapper {
  width: 550px;
}
.main-section .s-1 .container > .container-wrapper h3, .main-section .s-1 .container > .container-wrapper h1, .main-section .s-1 .container > .container-wrapper p, .header-section .s-1 .container > .container-wrapper h3, .header-section .s-1 .container > .container-wrapper h1, .header-section .s-1 .container > .container-wrapper p {
  color: white;
  margin-bottom: 20px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}
.main-section .s-1 .container > .container-wrapper h3, .header-section .s-1 .container > .container-wrapper h3 {
  font-size: 22px;
}
.main-section .s-1 .container > .container-wrapper h1, .header-section .s-1 .container > .container-wrapper h1 {
  font-size: 48px;
  font-weight: 700;
}
.main-section .s-1 .container > .container-wrapper p, .header-section .s-1 .container > .container-wrapper p {
  font-size: 15px;
  line-height: 2;
}
.main-section .s-1 .container > .container-wrapper > .button-wrapper button, .header-section .s-1 .container > .container-wrapper > .button-wrapper button {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgb(111, 60, 231);
  width: 180px;
  transition: all 0.3s linear;
}
.main-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(1) > a, .header-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(1) > a {
  color: white;
}
.main-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(2), .header-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(2) {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: rgb(111, 60, 231);
  border: none;
  width: 180px;
  box-shadow: 30px 25px 54px -4px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 30px 25px 54px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 30px 25px 54px -4px rgba(0, 0, 0, 0.51);
}
.main-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(2) > a, .header-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(2) > a {
  color: white;
}
.main-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(1):hover, .header-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(1):hover {
  background-color: rgb(111, 60, 231);
}
.main-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(2):hover, .header-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(2):hover {
  background-color: white;
}
.main-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(2):hover a, .header-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(2):hover a {
  color: rgb(111, 60, 231);
}
.main-section .s-1 .container > img, .header-section .s-1 .container > img {
  transition: all 2s linear;
}
.main-section .s-1 .container > img:hover, .header-section .s-1 .container > img:hover {
  transform: scale(1.1);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 30px 33px 25px -4px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 30px 33px 25px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 30px 33px 25px -4px rgba(0, 0, 0, 0.51);
}

.s-2 {
  background-image: url("../images/dark-bg.jpg");
  height: 1423px;
  background-color: purple;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.s-2 .line, .s-2 .line-2 {
  width: 150px;
  height: 2px;
  background-color: rgb(111, 60, 231);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 div > h2 {
  font-size: 30px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 div > h2 > span {
  color: rgb(111, 60, 231);
}
.s-2 .cards-wrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 .cards-wrapper .card {
  width: 170px;
  height: 170px;
  background-color: #282828;
  border-radius: 30px;
  border: 0.1em solid gray;
  position: relative;
  transition: all 0.5s linear;
  cursor: pointer;
}
.s-2 .cards-wrapper .card .circle {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 .cards-wrapper .card .circle > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 .cards-wrapper .card > h5 {
  position: absolute;
  font-size: 24px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  text-align: center;
}
.s-2 .cards-wrapper .card:hover {
  transform: scale(1.1);
  box-shadow: 30px 24px 32px -4px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 30px 24px 32px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 30px 24px 32px -4px rgba(0, 0, 0, 0.51);
}
.s-2 .line-2 {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 > div:nth-child(5) h2 {
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 .container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 470px;
}
.s-2 .container .collection-cards-wrapper {
  width: 1000px;
  margin: auto;
}
.s-2 .container .collection-cards-wrapper .card {
  cursor: pointer;
}
.s-2 .container .collection-cards-wrapper .card img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  max-width: 310px;
  width: 100%;
  border: 0.1em solid gray;
}
.s-2 .container .collection-cards-wrapper .card .card-info {
  max-width: 310px;
  width: 100%;
  height: 193px;
  background-color: #282828;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 0.1em solid gray;
  margin-top: -5px;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text {
  max-width: 280px;
  width: 100%;
  padding-top: 30px;
  margin: auto;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text h4 {
  font-size: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text hr {
  margin: 20px 0;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text > div {
  display: flex;
  justify-content: space-between;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text > div > p {
  font-size: 16px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text > div > p > span {
  font-size: 20px;
  font-weight: 700;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text > div > p:nth-child(2) {
  text-align: end;
}
.s-2 .container .collection-cards-wrapper .card .card-info button {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: rgb(111, 60, 231);
  border: none;
  width: 230px;
  transition: 0.3s all linear;
  transform: translateX(17%);
  margin-top: 10px;
}
.s-2 .container .collection-cards-wrapper .card .card-info button a {
  color: white;
}
.s-2 .container .collection-cards-wrapper .card .card-info button:hover {
  background-color: white a;
  background-color-color: rgb(111, 60, 231);
}

.s-3 {
  background-image: url("../images/main-bg.jpg");
  height: 609px;
  background-color: purple;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.s-3 .container {
  position: absolute;
  margin-top: 100px;
}
.s-3 .container .left-block .line-3 {
  width: 100px;
  height: 2px;
  background-color: white;
  margin-bottom: 40px;
}
.s-3 .container .left-block > h1 {
  font-size: 32px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.s-3 .container .right-block > button {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: rgb(111, 60, 231);
  border: none;
  width: 180px;
  transition: 0.3s all linear;
}
.s-3 .container .right-block > button:hover {
  background-color: white;
}
.s-3 .container .right-block > button:hover a {
  color: rgb(111, 60, 231);
}
.s-3 .container .right-block > button a {
  font-size: 15px;
  color: white;
}
.s-3 .cards-wrapper-2 {
  position: absolute;
  margin-top: 260px;
}
.s-3 .cards-wrapper-2 .cards {
  width: 330px;
}
.s-3 .cards-wrapper-2 .cards .circle {
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 40px;
}
.s-3 .cards-wrapper-2 .cards .circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-3 .cards-wrapper-2 .cards h3 {
  font-size: 25px;
  color: white;
  margin-bottom: 20px;
}
.s-3 .cards-wrapper-2 .cards p {
  color: white;
  line-height: 1.5;
}
.s-3 .cards-wrapper-2 .line {
  height: 200px;
  width: 1px;
  background-color: rgb(204, 206, 207);
  margin-right: 5px;
  margin-top: 15px;
}
.s-3 .cards-wrapper-2 .number {
  font-size: 18px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-left: -5px;
}

footer {
  background-image: url("../images/footer-bg.jpg");
  height: 220px;
  background-color: purple;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 50px;
  max-width: 1120px;
  width: 100%;
  margin: auto;
}
footer .container .footer-wrapper {
  max-width: 200px;
  width: 100%;
}
footer .container .footer-wrapper > img {
  height: 40px;
}
footer .container .footer-wrapper > p {
  margin-top: 30px;
  font-size: 13px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100%;
}
footer .container .footer-list {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
footer .container .footer-list li {
  font-size: 16px;
  color: rgb(111, 60, 231);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 8px;
}
footer .container .footer-list li:nth-child(1) {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
footer .container .footer-list ul:nth-child(3) li a {
  color: white;
  font-size: 18px;
}
footer .container .footer-list ul:nth-child(3) li a > i {
  margin-right: 10px;
  font-size: 16px;
  color: rgb(111, 60, 231);
}

.header-section {
  background-image: url("../images/heading-bg.jpg");
  height: 600px;
  position: relative;
}
.header-section .titles {
  width: 700px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 50%;
}
.header-section .titles > h4, .header-section .titles > h1, .header-section .titles > p {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}
.header-section .titles > h4 {
  font-size: 20px;
}
.header-section .titles > h1 {
  font-size: 48px;
  font-weight: 700;
}
.header-section .titles > p span {
  color: rgb(145, 145, 145);
}
.header-section .titles .button-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 700px;
  margin: auto;
  margin-top: 20px;
}
.header-section .titles .button-wrapper button:nth-child(1) {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: rgb(111, 60, 231);
  border: none;
  width: 180px;
  margin-right: 40px;
  transition: all 0.3s linear;
}
.header-section .titles .button-wrapper button:nth-child(1) a {
  color: white;
}
.header-section .titles .button-wrapper button:nth-child(1):hover {
  background-color: white;
}
.header-section .titles .button-wrapper button:nth-child(1):hover a {
  color: rgb(111, 60, 231);
}
.header-section .titles .button-wrapper button:nth-child(2) {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgb(111, 60, 231);
  width: 180px;
  transition: all 0.3s linear;
}
.header-section .titles .button-wrapper button:nth-child(2) a {
  color: white;
}
.header-section .titles .button-wrapper button:nth-child(2):hover {
  background-color: rgb(111, 60, 231);
}

.images-section {
  background-image: url("../images/dark-bg.jpg");
  height: 1600px;
  background-color: purple;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.images-section .image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1320px;
  right: 0;
  left: 0;
  top: 450px;
  margin: auto;
  position: absolute;
}
.images-section .image-wrapper .card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.images-section .image-wrapper .card img {
  width: 420px;
  border-radius: 30px;
}
.images-section .image-wrapper .card .artist-box {
  width: 270px;
  height: 170px;
  background-color: #282828;
  margin-top: -220px;
  margin-left: 120px;
  position: absolute;
  border-radius: 30px;
  opacity: 90%;
  border: 0.1em solid gray;
  display: none;
  animation-name: slide;
  animation-duration: 1s;
}
.images-section .image-wrapper .card .artist-box h5 {
  font-size: 22px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-align: center;
  width: 250px;
  margin-top: 30px;
}
.images-section .image-wrapper .card .artist-box > div {
  width: 250px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.images-section .image-wrapper .card .artist-box > div img {
  width: 50px;
  margin-right: 30px;
}
.images-section .image-wrapper .card .artist-box > div p {
  color: white;
  font-size: 18px;
  line-height: 1.4;
}
.images-section .image-wrapper .card .artist-box > div p span {
  color: rgb(111, 60, 231);
  font-weight: 600;
}
.images-section .image-wrapper .card:hover .artist-box {
  display: block;
}
@keyframes slide {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 29%;
  }
}
.images-section .container {
  margin-top: 380px;
  position: absolute;
}
.images-section .container .left-block .line {
  width: 100px;
  height: 2px;
  background-color: rgb(111, 60, 231);
  margin-bottom: 30px;
}
.images-section .container .left-block h4 {
  font-size: 30px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.images-section .container .left-block h4 span {
  color: rgb(111, 60, 231);
}
.images-section .container form {
  display: flex;
}
.images-section .container form input, .images-section .container form select {
  border-radius: 30px;
  height: 50px;
  width: 150px;
  background-color: transparent;
  margin-right: 10px;
  border: 0.1em solid gray;
  color: white;
}
.images-section .container form input::placeholder, .images-section .container form select::placeholder {
  color: white;
}
.images-section .container form input option, .images-section .container form select option {
  background: rgb(44, 44, 44);
  color: white;
}
.images-section .container form input[type=text] {
  padding: 12px 20px;
  box-sizing: border-box;
}
.images-section .container form button {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: rgb(111, 60, 231);
  border: none;
  width: 100px;
  color: white;
  font-size: 14px;
  transition: all 0.3s linear;
}
.images-section .container form button:hover {
  background-color: white;
  color: rgb(111, 60, 231);
  border: 1px solid rgb(111, 60, 231);
}

.s-4 {
  background-image: url("../images/main-bg.jpg");
  height: 609px;
  background-color: purple;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.s-4 .sellers-header {
  width: 400px;
  position: absolute;
  padding-top: 150px;
  left: 0;
  right: 0;
  margin: auto;
}
.s-4 .sellers-header .line {
  width: 100px;
  height: 2px;
  background-color: white;
  margin: auto;
  margin-bottom: 30px;
}
.s-4 .sellers-header h4 {
  font-size: 30px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.s-4 .container {
  margin-top: 20%;
  position: absolute;
  flex-wrap: wrap;
}
.s-4 .container .item {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.s-4 .container .item h6, .s-4 .container .item p {
  font-size: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
.s-4 .container .item small {
  font-size: 14px;
  font-weight: 300;
}
.s-4 .container .item img {
  border-radius: 50%;
}

.create-nft-section {
  background-image: url("../images/dark-bg-half.jpg");
  background-color: purple;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;
}
.create-nft-section .titles-wrapper .line {
  width: 150px;
  height: 2px;
  background-color: rgb(111, 60, 231);
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.create-nft-section .titles-wrapper h5 {
  font-size: 30px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 25%;
}
.create-nft-section .titles-wrapper h5 span {
  color: rgb(111, 60, 231);
}
.create-nft-section .create-nft-wrapper {
  background-color: #282828;
  height: 400px;
  position: relative;
  top: 35%;
  border: 0.1em solid gray;
  border-radius: 30px;
  box-shadow: 30px 25px 54px -4px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 30px 25px 54px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 30px 25px 54px -4px rgba(0, 0, 0, 0.51);
}
.create-nft-section .create-nft-wrapper .wrapper-content {
  max-width: 1050px;
  width: 100%;
  margin: auto;
}
.create-nft-section .create-nft-wrapper .wrapper-content form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}
.create-nft-section .create-nft-wrapper .wrapper-content form .input-box {
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}
.create-nft-section .create-nft-wrapper .wrapper-content form .input-box:nth-child(4) input, .create-nft-section .create-nft-wrapper .wrapper-content form .input-box:nth-child(5) input {
  width: 505px;
}
.create-nft-section .create-nft-wrapper .wrapper-content form input[type=text] {
  width: 330px;
  padding: 13px 20px;
  border-radius: 20px;
  background-color: rgb(29, 28, 28);
  font-size: 16px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border: none;
  margin-right: 17px;
}
.create-nft-section .create-nft-wrapper .wrapper-content form input[type=text]::placeholder {
  font-size: 16px;
  font-weight: 600;
}
.create-nft-section .create-nft-wrapper .wrapper-content form label {
  margin-bottom: 12px;
  font-size: 16px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.create-nft-section .create-nft-wrapper .wrapper-content form input[type=file] {
  font-size: 18px;
  margin-top: 10px;
  color: gray;
}
.create-nft-section .create-nft-wrapper .wrapper-content form button {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: rgb(111, 60, 231);
  border: none;
  width: 680px;
  font-size: 15px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: all 0.3s linear;
  margin-top: 10px;
}
.create-nft-section .create-nft-wrapper .wrapper-content form button:hover {
  background-color: white;
  color: rgb(111, 60, 231);
}

.author-section {
  background-image: url("../images/dark-bg.jpg");
  height: 1100px;
  background-color: purple;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.author-section .container {
  position: absolute;
  margin-top: 10%;
}
.author-section .container .image-wrapper {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.author-section .container .image-wrapper img {
  border-radius: 50%;
}
.author-section .container .image-wrapper p {
  font-size: 18px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.3;
}
.author-section .container .image-wrapper p span {
  color: rgb(111, 60, 231);
  font-size: 15px;
}
.author-section .container .followers-card {
  width: 440px;
  height: 170px;
  background-color: #282828;
  border: 0.1em solid gray;
  border-radius: 20px;
}
.author-section .container .followers-card .followers-card-content {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  margin: auto;
  margin-top: 20px;
}
.author-section .container .followers-card .followers-card-content .like-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.author-section .container .followers-card .followers-card-content .like-section i {
  color: rgb(111, 60, 231);
  font-size: 24px;
  margin-bottom: 10px;
}
.author-section .container .followers-card .followers-card-content .like-section p {
  font-size: 16px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.author-section .container .followers-card .followers-card-content .like-section p span {
  color: rgb(111, 60, 231);
  font-size: 18px;
}
.author-section .container .followers-card .followers-card-content .follower-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.author-section .container .followers-card .followers-card-content .follower-section p {
  font-size: 18px;
  color: gray;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.author-section .container .followers-card .followers-card-content .follower-section button {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: rgb(111, 60, 231);
  border: none;
  width: 220px;
  font-size: 15px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: all 0.3s linear;
}
.author-section .container .followers-card .followers-card-content .follower-section button:hover {
  background-color: white;
  color: rgb(111, 60, 231);
}
.author-section .left-block {
  position: absolute;
  margin-top: 27%;
  display: inline;
}
.author-section .left-block .line {
  width: 100px;
  height: 2px;
  background-color: rgb(111, 60, 231);
  margin-bottom: 30px;
}
.author-section .left-block > h4 {
  font-size: 32px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.author-section .left-block > h4 span {
  color: rgb(111, 60, 231);
}/*# sourceMappingURL=global.css.map */