html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.s-3 .cards-wrapper-2, .s-3 .container, .s-2 .container, .s-2 .cards-wrapper, body .main-section .s-1 .container, body .main-section .header {
  max-width: 1120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  right: 0;
  left: 0;
  margin: auto;
}

body .main-section {
  background-image: url("../images/banner-bg.jpg");
  height: 920px;
  background-color: purple;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
body .main-section .header {
  background-color: white;
  border-radius: 50px;
  padding: 15px 0;
  position: absolute;
  top: 30px;
}
body .main-section .header > div {
  margin-left: 30px;
}
body .main-section .header nav > ul {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 50px;
}
body .main-section .header li > a {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: black;
  letter-spacing: 1px;
  transition: all 0.3s linear;
}
body .main-section .header li > a:hover, body .main-section .header li > .active {
  padding: 10px 15px;
  color: white;
  background-color: rgb(111, 60, 231);
  border-radius: 20px;
  font-size: 16px;
}
body .main-section .s-1 .container {
  position: absolute;
  margin-top: 250px;
}
body .main-section .s-1 .container > .container-wrapper {
  width: 550px;
}
body .main-section .s-1 .container > .container-wrapper h3, body .main-section .s-1 .container > .container-wrapper h1, body .main-section .s-1 .container > .container-wrapper p {
  color: white;
  margin-bottom: 20px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}
body .main-section .s-1 .container > .container-wrapper h3 {
  font-size: 22px;
}
body .main-section .s-1 .container > .container-wrapper h1 {
  font-size: 48px;
  font-weight: 700;
}
body .main-section .s-1 .container > .container-wrapper p {
  font-size: 15px;
  line-height: 2;
}
body .main-section .s-1 .container > .container-wrapper > .button-wrapper button {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgb(111, 60, 231);
  width: 180px;
  transition: all 0.3s linear;
}
body .main-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(1) > a {
  color: white;
}
body .main-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(2) {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: rgb(111, 60, 231);
  border: none;
  width: 180px;
  box-shadow: 30px 25px 54px -4px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 30px 25px 54px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 30px 25px 54px -4px rgba(0, 0, 0, 0.51);
}
body .main-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(2) > a {
  color: white;
}
body .main-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(1):hover {
  background-color: rgb(111, 60, 231);
}
body .main-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(2):hover {
  background-color: white;
}
body .main-section .s-1 .container > .container-wrapper > .button-wrapper button:nth-child(2):hover a {
  color: rgb(111, 60, 231);
}
body .main-section .s-1 .container > img {
  transition: all 2s linear;
}
body .main-section .s-1 .container > img:hover {
  transform: scale(1.1);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 30px 33px 25px -4px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 30px 33px 25px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 30px 33px 25px -4px rgba(0, 0, 0, 0.51);
}

.s-2 {
  background-image: url("../images/dark-bg.jpg");
  height: 1423px;
  background-color: purple;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.s-2 .line, .s-2 .line-2 {
  width: 100px;
  height: 2px;
  background-color: rgb(111, 60, 231);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 div > h2 {
  font-size: 30px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 div > h2 > span {
  color: rgb(111, 60, 231);
}
.s-2 .cards-wrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 .cards-wrapper .card {
  width: 170px;
  height: 170px;
  background-color: #282828;
  border-radius: 30px;
  border: 0.1em solid gray;
  position: relative;
  transition: all 0.5s linear;
  cursor: pointer;
}
.s-2 .cards-wrapper .card .circle {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 .cards-wrapper .card .circle > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 .cards-wrapper .card > h5 {
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: 500;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  text-align: center;
}
.s-2 .cards-wrapper .card:hover {
  transform: scale(1.1);
  box-shadow: 30px 24px 32px -4px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 30px 24px 32px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 30px 24px 32px -4px rgba(0, 0, 0, 0.51);
}
.s-2 .line-2 {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 > div:nth-child(5) h2 {
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-2 .container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 470px;
}
.s-2 .container .collection-cards-wrapper {
  width: 1000px;
  margin: auto;
}
.s-2 .container .collection-cards-wrapper .card {
  cursor: pointer;
}
.s-2 .container .collection-cards-wrapper .card img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  max-width: 310px;
  width: 100%;
  border: 0.1em solid gray;
}
.s-2 .container .collection-cards-wrapper .card .card-info {
  max-width: 310px;
  width: 100%;
  height: 193px;
  background-color: #282828;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 0.1em solid gray;
  margin-top: -5px;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text {
  max-width: 280px;
  width: 100%;
  padding-top: 30px;
  margin: auto;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text h4 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: "Roboto", sans-serif;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text hr {
  margin: 20px 0;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text > div {
  display: flex;
  justify-content: space-between;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text > div > p {
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text > div > p > span {
  font-size: 20px;
  font-weight: 700;
}
.s-2 .container .collection-cards-wrapper .card .card-info .card-info-text > div > p:nth-child(2) {
  text-align: end;
}
.s-2 .container .collection-cards-wrapper .card .card-info button {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: rgb(111, 60, 231);
  border: none;
  width: 230px;
  transition: 0.3s all linear;
  transform: translateX(17%);
  margin-top: 10px;
}
.s-2 .container .collection-cards-wrapper .card .card-info button a {
  color: white;
}
.s-2 .container .collection-cards-wrapper .card .card-info button:hover {
  background-color: white a;
  background-color-color: rgb(111, 60, 231);
}

.s-3 {
  background-image: url("../images/main-bg.jpg");
  height: 609px;
  background-color: purple;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.s-3 .container {
  position: absolute;
  margin-top: 100px;
}
.s-3 .container .left-block .line-3 {
  width: 100px;
  height: 2px;
  background-color: white;
  margin-bottom: 40px;
}
.s-3 .container .left-block > h1 {
  font-size: 32px;
  color: white;
  font-family: "Roboto", sans-serif;
}
.s-3 .container .right-block > button {
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  background-color: rgb(111, 60, 231);
  border: none;
  width: 180px;
  transition: 0.3s all linear;
}
.s-3 .container .right-block > button:hover {
  background-color: white;
}
.s-3 .container .right-block > button:hover p {
  color: rgb(111, 60, 231);
}
.s-3 .container .right-block > button p {
  font-size: 15px;
  color: white;
}
.s-3 .cards-wrapper-2 {
  position: absolute;
  margin-top: 260px;
}
.s-3 .cards-wrapper-2 .cards {
  width: 330px;
}
.s-3 .cards-wrapper-2 .cards .circle {
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 40px;
}
.s-3 .cards-wrapper-2 .cards .circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-3 .cards-wrapper-2 .cards h3 {
  font-size: 25px;
  color: white;
  margin-bottom: 20px;
}
.s-3 .cards-wrapper-2 .cards p {
  color: white;
  line-height: 1.5;
}
.s-3 .cards-wrapper-2 .line {
  height: 200px;
  width: 1px;
  background-color: rgb(204, 206, 207);
  margin-right: 5px;
  margin-top: 15px;
}
.s-3 .cards-wrapper-2 .number {
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-left: -5px;
}

footer {
  background-image: url("../images/footer-bg.jpg");
  height: 220px;
  background-color: purple;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 50px;
  max-width: 1120px;
  width: 100%;
  margin: auto;
}
footer .container .footer-wrapper {
  max-width: 200px;
  width: 100%;
}
footer .container .footer-wrapper > img {
  height: 40px;
}
footer .container .footer-wrapper > p {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 13px;
  width: 100%;
}
footer .container .footer-list {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
footer .container .footer-list li {
  color: rgb(111, 60, 231);
  font-size: 16px;
  margin-bottom: 8px;
}
footer .container .footer-list li:nth-child(1) {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
footer .container .footer-list ul:nth-child(3) li a {
  color: white;
  font-size: 18px;
}
footer .container .footer-list ul:nth-child(3) li a > i {
  margin-right: 10px;
  font-size: 16px;
  color: rgb(111, 60, 231);
}/*# sourceMappingURL=global.css.map */