@mixin flex-props($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: row;
}

@mixin width-params($max) {
    max-width: $max;
    width: 100%;
}

@mixin bg-props{
    background-color: $color1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin sizeXY($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin centering($top, $left) {
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
}

@mixin button($bg-color: transparent, $border: 1px solid $color2, $width: 180px) {
    border-radius: 50px;
    cursor: pointer;
    height: 50px;
    background-color: $bg-color;
    border: $border;
    width: $width;

}
