%container-props{
    @include width-params($container-width);
    @include flex-props(space-between, center);
    right: 0;
    left: 0;
    margin: auto;
}


%card-items{
        .card-item{
            width: 260px;
            height: 450px;
            background-color: $color4;
            border: $border-params;
            border-radius: 30px;
            opacity: 95%;
            transition: $card-transition;
            cursor: pointer;
            margin-bottom: 80px;
            margin-right: 10px;
            margin-left: 10px;

            &:hover{
                transform: scale(1.05);
                box-shadow: 30px 25px 54px -4px rgba(0,0,0,0.51);
                -webkit-box-shadow: 30px 25px 54px -4px rgba(0,0,0,0.51);
                -moz-box-shadow: 30px 25px 54px -4px rgba(0,0,0,0.51);
            }

            .card-item-content{
                max-width: 210px;
                width: 90%;
                margin: auto;

                & > img:nth-child(1){
                    border-radius: 50%;
                    margin-left: 40%;
                }
                & > img:nth-child(2){
                    border-radius: 20px;
                    height: 170px;
                    max-width: 210px;
                    width: 100%;
                }
                h5{
                    @include font-params(20px, 300);
                    margin: 35px 0;
                }
                

                .card-item-text{
                    display: flex;
                    justify-content: space-between;

                    p{
                        margin-top: 10px;
                        @include font-params(14px, 300);
                        line-height: 1.5;
                        span{
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }

                }
            }

            button{
                @include button($color2, none, 150px);
                @include font-params(14px, 300);
                transition: $button-transiton;
                margin-left: 30px;
                margin-top: 30px;
        
                &:hover{
                    background-color: $color3;
                    color: $color2;
                    border: 1px solid $color2;
                    
                }
            }
        }
        @media (max-width: 1170px) {
            max-width: 650px;
            justify-content: space-around;
        }

        @media (max-width: 560px) {
            .card-item{
                width: 80%;
            }
        }
}




