body{  
    .main-section{
        background-image: url('../images/banner-bg.jpg');
        height: 920px;
        @include bg-props; 
        position: relative; 

        .header{
            @extend %container-props;
            background-color: $color3;
            border-radius: 50px;
            padding: 15px 0;
            position: absolute;
            top: 30px;

            
            & > div{
                margin-left: 30px;
            }
    
            nav > ul{
                width: 550px;
                @include flex-props(space-between, center);
                margin-right: 50px;
            }
    
            li > a{
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
                color: black;
                letter-spacing: 1px;
            }
    
            li > a:hover, li > .active{
                padding: 10px 15px;
                color: $color3;
                background-color: $color2;
                border-radius: 20px;  
                font-size: 16px;         
            }
     
        }

        .s-1{
            .container{
                position: absolute;

                @extend %container-props;
                margin-top: 250px;
            
                & > .container-wrapper{
                    width: 550px;
            
                     h3,  h1, p{
                        color: $color3;
                        margin-bottom: 20px;
                        line-height: 1.2;
                        font-family: 'Roboto';
                    }
                    h3{
                        font-size: 22px;
                    }
                    h1{
                        font-size: 48px;
                        font-weight: 700;
                    }
                    p{
                        font-size: 15px;
                        line-height: 2;
                    }
            
                    & > .button-wrapper button{
                        border-radius: 50px;
                        width: 180px;
                        height: 50px;
                        p{
                            margin-top: 7px;
                        }
            
                        &:nth-child(1){
                            background-color: transparent;
                            border: 1px solid $color2;
                        }
            
                        &:nth-child(2){
                            background-color: $color2;
                            border: none;
                        }
            
                        &:nth-child(1):hover{
                            background-color: $color2;
                        }
            
                        &:nth-child(2):hover{
                            background-color: $color3;
                            color: $color2;
                        }
                        &:nth-child(2) > p:hover{
                            color: $color2;
                        }
            
                    }
            
            
                }
            }
        }
    }
    
    
}


.s-2{
    background-image: url('../images/dark-bg.jpg');
    height: 1423px;
    @include bg-props;
    position: relative;
    
    .line, .line-2{
        width: 100px;
        height: 2px;
        background-color: $color2;
        position: absolute;
        @include centering(10%, 50%);
        
    }

    div > h2{
        font-size: 30px;
        color: $color3;
        font-family: 'Roboto';
        font-weight: 600;
        position: absolute;
        @include centering(13%, 50%);

        & > span{
            color: $color2 ;
        }
    }

    .cards-wrapper{
        @extend %container-props;
        position: absolute;
        @include centering(25%, 50%);
        .card{
            @include sizeXY(170px);
            background-color: #282828		;
            border-radius: 30px;
            border: 0.1em solid  gray;
            position: relative;
            transition: all 0.5s linear;
            cursor: pointer;
    
            .circle{
                @include sizeXY(70px);
                background-color: $color3;
                border-radius: 50%;
                position: absolute;
                @include centering(35%, 50%);
    
                & > img{
                    position: absolute;
                    @include centering(50%, 50%);
                }
            }

            & > h5{
                position: absolute;
                color: $color3;
                font-size: 24px;
                font-weight: 500;
                @include centering(70%, 50%);
                width: 150px;
                text-align: center;
            }

            &:hover{
                transform: scale(1.1);
            }

        }
    }

    .line-2{
        @include centering(45%, 50%)
    }
    & > div:nth-child(5) h2 {
        @include centering(48%, 50%)
    }

}  


.s-3{
    background-image: url('../images/main-bg.jpg');
    height: 609px;
    @include bg-props;
    position: relative;


    .container{
        position: absolute;
        @extend %container-props;
        margin-top: 100px;

        .left-block{
            .line-3{
                width: 100px;
                height: 2px;
                background-color: $color3;
                margin-bottom: 40px;
            }

            & > h1{
                font-size: 32px;
                color: white;
                font-family: 'Roboto';
            }
        }

        .right-block > button{
            border-radius: 50px;
            width: 200px;
            height: 50px;
            background-color: $color2;
            border: none;
            
            &:hover{
                background-color: $color3;
                cursor: pointer;
            }

            p{
                font-size: 15px;
                color: $color3;

                &:hover{
                    color: $color2;
                }
            }
        }

    }
    .cards-wrapper-2{
        @extend %container-props;
        position: absolute;
        margin-top: 260px;
        .cards{
            width: 330px;
            .circle{
                @include sizeXY(60px);
                position: relative;
                border-radius: 50%;
                background-color: $color3;
                margin-bottom: 40px;

                img{
                    position: absolute;
                    @include centering(50%, 50%);
                }

            }

            h3{
                font-size: 25px;
                color: $color3;
                margin-bottom: 20px;
            }
            p{
                color: $color3;
                line-height: 1.5;
            }
        }

        .line{
            height: 200px;
            width: 1px;
            background-color: rgb(204, 206, 207);
            margin-right: 5px;
            margin-top: 15px;
        }

        .number{
            color: white;
            font-weight: 600;
            font-size: 18px;
            font-family: 'Roboto';
            margin-left: -5px;
        }
    }


}

