.modal-s{
    #myModal{
        display: none; 
        position: fixed;
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 

        .modal-content{
            margin-top: 20px;
            position: relative;
            max-width: 350px;
            width: 100%;
            height: 95%;
            background-color: $color3;
            margin-left: calc(100% - 400px);
            border-radius: 19px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            animation-name: animatetop;
            animation-duration: 0.5s;

 
            @keyframes animatetop {
                from {right:-300px; opacity:0}
                to {right:0; opacity:1}
            }

            #close {
                position: absolute;
                color: rgb(145, 141, 141);
                margin-left: 90%;
                font-size: 35px;
                font-weight: 700;
                &:hover, &:focus{
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
              }


              
            h1{
                @include font-params(22px, 600, black);
                width: 300px;
                margin: auto;
                text-align: center;
            }

            form{
                max-width: 300px;
                width: 100%;
                height: 400px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                input[type='text'], input[type='password'], button{
                    width: 100%;
                    padding: 12px 20px;
                    border-radius: 10px;
                    border: 1px solid #ccc;
                    font-size: 18px;
                    font-family: $font-1;
                    cursor: pointer;
                }

                button{
                    background-color: $color2;
                    color: $color3;

                }
            }

            div{
                max-width: 300px;
                margin: auto;
                img{
                    margin-top: 30px;
                    margin-left: 25%;
                    max-width: 150px;
                    width: 100%;
                }
            }
        }
      
    }
}


.main-section{
    background-image: url('../images/banner-bg.jpg');
    height: 920px;

}
    .main-section, .header-section{
        @include bg-props; 
        position: relative; 

        .header{
            @extend %container-props;
            background-color: $color3;
            border-radius: 50px;
            padding: 10px 0;
            position: absolute;
            top: 30px;
            
            & > div{
                margin-left: 30px;
            }
            
            nav{
                width: 550px;
            }

            nav > ul{
                @include flex-props(space-between, center);
                margin-right: 50px;

                & > button{
                    @include button($color5, none, 120px);
                    color: $color3;
                    font-size: 17px;
                    box-shadow: 20px 25px 30px -3px rgba(0,0,0,0.42);
                    -webkit-box-shadow: 20px 25px 30px -3px rgba(0,0,0,0.42);
                    -moz-box-shadow: 20px 25px 30px -3px rgba(0,0,0,0.42);
                }
            }
    
            li > a{
                @include font-params(15px, 600, rgb(109, 109, 109));
                letter-spacing: 1px;
                transition: $button-transiton;
            }
    
            li > a:hover, li > .active{
                padding: 10px 15px;
                color: $color3;
                background-color: $color2;
                border-radius: 20px;  
                font-size: 16px;         
            }
            

            .burger-bar{
                display: none;
            }

            @media (max-width: 1170px) {
                width: 95%;
            }

            @media (max-width: 870px) {
                & > nav{
                    display: none;
                }
                & > .burger-bar{
                    display: block;
                    font-size: 22px;
                    color: $color2;
                    margin-right: 30px;
                    cursor: pointer;
                }
            }

            @media (max-width: 480px) {
                div > img{
                    width: 90%;
                }
                & > .burger-bar{
                    width: 10%;
                }
            }
     
        }

        .s-1{
            .container{
                position: absolute;

                @extend %container-props;
                margin-top: 250px;
            
                & > .container-wrapper{
                    width: 50%;
            
                     h3,  h1, p{
                        color: $color3;
                        margin-bottom: 20px;
                        line-height: 1.2;
                        font-family: $font-1;
                    }
                    h3{
                        font-size: 22px;
                    }
                    h1{
                        font-size: 48px;
                        font-weight: 700;
                    }
                    p{
                        font-size: 15px;
                        line-height: 2;
                    }
            
                    & > .button-wrapper button{
                        @include button;
                        transition: $button-transiton;
                        margin-left: 20px;
                        &:nth-child(1){
                            & > a{
                                color: $color3;
                            }
                        }
            
                        &:nth-child(2){
                            @include button($color2, none);
                            box-shadow: 30px 25px 54px -4px rgba(0,0,0,0.51);
                            -webkit-box-shadow: 30px 25px 54px -4px rgba(0,0,0,0.51);
                            -moz-box-shadow: 30px 25px 54px -4px rgba(0,0,0,0.51);
                            & > a{
                                color: $color3;
                            }
                        }
            
                        &:nth-child(1):hover{
                            background-color: $color2;
                        }
            
                        &:nth-child(2):hover{
                            background-color: $color3;
                            a{
                                color: $color2;
                            }
                        }
            
                    }

                }
                & > img{
                    width: 40%;
                    transition: all 2s linear;

                    &:hover{
                        transform: scale(1.1);
                        border-radius: 20px;
                        cursor: pointer;
                        box-shadow: 30px 33px 25px -4px rgba(0,0,0,0.51);
                        -webkit-box-shadow: 30px 33px 25px -4px rgba(0,0,0,0.51);
                        -moz-box-shadow: 30px 33px 25px -4px rgba(0,0,0,0.51);
                    }
                }

                @media (max-width: 1170px) {
                    width: 90%;
                }
                @media (max-width: 870px) {
                    flex-direction: column;
                    .container-wrapper{
                        width: 95%;
                        br{
                            display: none;
                        }
                        p{
                            font-size: 17px;
                        }
                    }

                    img{
                        margin-top: 30px;
                        width: 95%;
                    }


                }
                @media (max-width: 480px) {
                    .button-wrapper > button{
                        margin-bottom: 20px;
                        
                    }
                }
            }
        }
        @media (max-width: 870px) {
            height: 1300px;
        }
    }



.s-2{
    background-image: url('../images/dark-bg.jpg');
    height: 1423px;
    @include bg-props;
    position: relative;

    @media (max-width: 1170px) {
        height: 2000px;
    }
    @media (max-width:675px) {
        height: 3000px;
    }
    
    
    .line, .line-2{
        @include line-params;
        position: absolute;
        @include centering(10%, 50%);
    }

    div > h2{
        @include font-params(30px);
        position: absolute;
        @include centering(13%, 50%);

        & > span{
            color: $color2 ;
        }
        @media (max-width: 1170px) {
            max-width: 510px;
            width: 90%;
            text-align: center;
        }
    }

    .cards-wrapper{
        @extend %container-props;
        position: absolute;
        top: 20%;
        flex-wrap: wrap;
        .card{
            @include sizeXY(170px);
            background-color: $color4	;
            border-radius: 30px;
            border: $border-params;
            position: relative;
            transition: $card-transition;
            cursor: pointer;
    
            .circle{
                @include sizeXY(70px);
                background-color: $color3;
                border-radius: 50%;
                position: absolute;
                @include centering(35%, 50%);
    
                & > img{
                    position: absolute;
                    @include centering(50%, 50%);
                }
            }

            & > h5{
                position: absolute;
                @include font-params(24px, 500);
                @include centering(70%, 50%);
                width: 150px;
                text-align: center;
            }

            &:hover{
                transform: scale(1.1);
                box-shadow: 30px 24px 32px -4px rgba(0,0,0,0.51);
                -webkit-box-shadow: 30px 24px 32px -4px rgba(0,0,0,0.51);
                -moz-box-shadow: 30px 24px 32px -4px rgba(0,0,0,0.51);
            }

        }

        @media (max-width: 1170px) {
            width: 80%;
            justify-content: space-around;
            .card{
                width: 350px;
                margin-bottom: 30px;
                margin-left: 20px;

            }
        }

        @media (max-width:925px) {
            .card{
                width: 250px;
            }
        }

        @media (max-width:675px) {
            .card{
                width: 95%;
            }
        }
    }

    .line-2{
        @include centering(45%, 50%)
    }
    & > div:nth-child(5) h2 {
        @include centering(48%, 50%)
    }

    .container {
        @extend %container-props; 
        position: absolute;
        height: 470px;  
        top: 60%;

        .collection-cards-wrapper{
            .card{
                cursor: pointer;
                img{
                    border-top-left-radius: 30px;
                    border-top-right-radius: 30px;
                    @include width-params(310px);
                    border: $border-params; 
    
                }
                .card-info{
                    @include width-params(310px);
                    height: 193px;
                    background-color: $color4;
                    border-bottom-left-radius: 30px;
                    border-bottom-right-radius: 30px;
                    border: $border-params; 
                    margin-top: -5px;
                    
                    .card-info-text {
                        @include width-params(280px);
                        padding-top: 30px;
                        margin: auto;
                        h4{
                            @include font-params(20px);
                        }
                        hr{
                            margin: 20px 0;
                        }
                        & > div{
                            display: flex;
                            justify-content: space-between;
    
                            & > p {
                                @include font-params(16px, 300);
                                line-height: 1.6;
    
                                & > span{
                                    font-size: 20px;
                                    font-weight: 700;
    
                                }
                                &:nth-child(2){
                                    text-align: end;
                                }
                            }
                        }
    
                    }
    
                    button{
                        @include button($color2, none, 230px);
                        transition: 0.3s all linear;
                        transform: translateX(17%);
                        margin-top: 10px;
                        a{
                            color: $color3;
                        }
                        &:hover{
                            background-color: $color3
                            a{
                                color: $color2;
                            }
                        }
                    }
                    
                    
                }
    
            }
    
        }

    

      }

    @media (max-width: 1170px) {
        .line-2{
            margin-top:300px;
        }

        .title-2 > h2{
            margin-top: 300px;
        }

        .container{
            margin-top: 200px;
            max-width: 700px;
        }


    }

    @media (max-width: 675px) {
        .line-2{
            margin-top:600px;
        }

        .title-2 > h2{
            margin-top: 600px;
        }

    }



}  


.s-3{
    background-image: url('../images/main-bg.jpg');
    height: 609px;
    @include bg-props;
    position: relative;
    @media (max-width:870px) {
        height: 1200px;
    }


    .container{
        position: absolute;
        @extend %container-props;
        margin-top: 100px;

        .left-block{
            .line-3{
                @include line-params(100px, 2px, $color3);
                margin-bottom: 40px;
            }

            & > h1{
                @include font-params(32px, 300)
            }
        }

        .right-block > button{
            @include button($color2, none);
            transition: 0.3s all linear;
            
            &:hover{
                background-color: $color3;
                a{
                    color: $color2;
                }
            }

            a{
                font-size: 15px;
                color: $color3;
            }
        }
        @media (max-width: 1170px) {
            width: 90%;
        }
        @media (max-width:870px) {
            flex-direction: column;
            .left-block{
                text-align: center;
                margin-bottom: 20px;

                .line-3{
                    margin: auto;
                    margin-bottom: 20px;
                }
            }
    
        }


    }
    .cards-wrapper-2{
        @extend %container-props;
        position: absolute;
        margin-top: 260px;
        .cards{
            width: 330px;
            .circle{
                @include sizeXY(60px);
                position: relative;
                border-radius: 50%;
                background-color: $color3;
                margin-bottom: 40px;

                img{
                    position: absolute;
                    @include centering(50%, 50%);
                }

            }

            h3{
                font-size: 25px;
                color: $color3;
                margin-bottom: 20px;
            }
            p{
                color: $color3;
                line-height: 1.5;
            }
        }

        .line{
            height: 200px;
            width: 1px;
            background-color: rgb(204, 206, 207);
            margin-right: 5px;
            margin-top: 15px;
        }

        .number{
            @include font-params;
            margin-left: -5px;
        }

        @media (max-width: 1170px) {
            width: 90%;
        }
        @media (max-width:870px) {
            flex-direction: column;
            
            .line{
                display: none;
            }
            .number{
                display: none;
            }

            .cards{
                width: 90%;
                text-align: center;
                margin-bottom: 50px;
                margin-top: 40px;
                .circle{
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }
    }
    

}

footer{
    background-image: url('../images/footer-bg.jpg');
    height: 220px;
    @include bg-props;

    .container{
        @include flex-props(space-between, flex-start);
        padding-top: 50px;
        @include width-params($container-width);
        margin: auto;
        
        .footer-wrapper{
            max-width: 200px;
            width: 100%;



            & > img{
                height: 40px;
            }
            & > p{
                margin-top: 30px;
                @include font-params(13px, 300);
                width: 100%;
            }
        }

        .footer-list{
            @include width-params(700px);
            @include flex-props(space-between, center);

            & li{
                @include font-params(16px, 300, $color2);
                margin-bottom: 8px;
            }
            & li:nth-child(1){
                color: $color3;
                font-size: 20px;
                margin-bottom: 20px;
            }
            & ul:nth-child(3) li a{
                color: $color3;
                font-size: 18px;
                
                & > i{
                    margin-right: 10px;
                    font-size: 16px;
                    color: $color2;
                }
                
            }
            & ul li:nth-child(1) i{
                display: none;
            }
    
        }
        
        @media (max-width:1170px) {
            width: 90%;
        }
        @media (max-width: 870px) {
            flex-direction: column;
            .footer-wrapper > img{    
                margin: auto;
            }
            .footer-wrapper > p{
                display: none;
            }


            .footer-list{
                flex-direction: column;
                ul > li:not(:nth-child(1)){
                    display: none;
                }
                ;

            }
            .footer-list ul li:nth-child(1) i{
                display: inline-block;
            }
            
        }
 
    }
}


//page2/3-explore/create
.header-section{
    background-image: url('../images/heading-bg.jpg');
    height: 600px;
    position: relative;
    .titles{
        width: 700px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        
        top: 50%;
        & > h4, & >h1, & > p{
            color: $color3;
            font-family: $font-1;
            margin-bottom: 20px;
            text-align: center;
        }
    
        & >h4{
            font-size: 20px;
        }
    
        & > h1{
            font-size: 48px;
            font-weight: 700;
        }
        & >p{
            span{
                color: rgb(145, 145, 145);
            }
        }

        .button-wrapper {
            display: flex;
            justify-content: center;
            position: absolute;
            max-width: 800px;
            width: 100%;
            margin: auto;
            margin-top: 20px;
        
            
            button:nth-child(1){
                @include button($color2, none);
                margin-right: 20px;
                margin-left: 10px;
                transition: $button-transiton;
                a{
                    color: $color3;
                }
                &:hover{
                    background-color: $color3;
                    a{
                        color: $color2;
                    }
                }         
           }
        
            button:nth-child(2){
                @include button;
                margin-right: 10px;
                transition: $button-transiton;
                a{
                    color: $color3;
                }

                &:hover{
                    background-color: $color2;
                  
                }
            } 
        }

        @media (max-width: 780px) {
            width: 95%;
            top: 40%;

            h1{
                font-size: 32px;
            }

        }
    
    }



}



.images-section{
    background-image: url('../images/dark-bg.jpg');
    height: 1600px;
    @include bg-props;


    .image-wrapper{
        display: flex;
        justify-content: space-between;
        max-width: 1320px;
        width: 95%;
        right: 0;
        left: 0;
        top: 450px;
        margin: auto;
        position: absolute;

        
        .card{
            position: relative;
            cursor: pointer;
            margin-right: 30px;
            
            img{
                max-width: 400px;
                width: 100%;
                border-radius: 20px;
            }

            .artist-box{
                max-width: 270px;
                height: 170px;
                background-color: $color4;
                margin-top: -220px;
                margin-left: 120px;
                position: absolute;
                border-radius: 30px;
                opacity: 90%;
                border: $border-params;
                display: none;
                animation-name: slide;
                animation-duration: 1s;
                
                h5{
                    @include font-params(22px);
                    text-align: center;
                    width: 250px;
                    margin-top: 30px;
                }
                & > div{
                    width: 250px;
                    display: flex;
                    justify-content: center;
                    margin-top: 25px;

                    img{
                        width: 50px;
                        margin-right: 30px;
                    }
                    p{
                        color: $color3;
                        font-size: 18px;
                        line-height: 1.4;
                        span{
                            color: $color2;
                            font-weight: 600;
                        }
                    }
                }

              
            }
            &:hover{
                .artist-box{
                    display: block;
                    z-index: 99;
                }
            }
            @keyframes  slide{
                0% {
                    margin-left: 100%;
                }
        
                100% {
                    margin-left: 29%;
                }


            }


        }
    }

    @media (max-width:1170px) {
        height: 2600px;
    }
    
    @media (max-width:1024px) {
            height: 4100px;
            .image-wrapper{
                flex-direction: column;
                align-items: center;
                .card{
                    margin-right: 0px;
                    margin: 20px 10px;
                    img{
                        max-width: 500px;
                    }
                }
            }
    }
    @media (max-width: 560px) {
        height: 6200px;
    }

    .container{
        @extend %container-props;
        margin-top: 25%;
        position: absolute;

        .left-block{
            width: 40%;
            .line{
                width: 100px;
                height: 2px;
                background-color: $color2;
                margin-bottom: 30px;
            }
            h4{
                @include font-params(30px);
                span{
                    color:$color2;
                }
            }
        }

        form{
            display: flex;
            width: 60%;
            input, select{
                border-radius: 30px;
                height: 50px;
                width: 180px;
                background-color: transparent;
                margin-right: 10px;
                border: $border-params;
                color: $color3;
                &::placeholder{
                    color: $color3;
                }

                option{
                    background: rgb(44, 44, 44); 
                    color: $color3;
                }
                
            }
            input[type=text] {
                padding: 12px 20px;
                box-sizing: border-box;
              }

            button{
                @include button($color2, none, 100px);
                color: $color3;
                font-size: 14px;
                transition: $button-transiton;
                &:hover{
                    background-color: $color3;
                    color: $color2;
                    border: 1px solid $color2;
                }
            }
        }
        @media (max-width: 1170px) {
            width: 95%;
        }

        @media (max-width: 1024px) {
            margin-top: 1500px;
            flex-direction: column;
            .left-block{
                .line{
                    margin: auto;
                    margin-bottom: 20px;
                }
                h4{
                    text-align: center;
                }
            }    

            form{
                flex-direction: column;
                margin-top: 50px;
                width: 95%;
                input, select, button{
                    width: 100%;
                    margin-bottom: 20px;
                }
                
            }
        }
        

    }
   
    .card-wrapper{
        @extend %container-props;
        margin-top: 550px;
        position: absolute;
        flex-wrap: wrap;
        @extend %card-items;

        @media (max-width: 1170px) {
            margin-top: 450px;
        }
        @media (max-width: 1024px) {
            margin-top: 2000px;
        }
    
    }
     
  
}


.s-4{
    background-image: url('../images/main-bg.jpg');
    height: 630px;
    @include bg-props;
    position: relative;

    .sellers-header{
        max-width: 400px;
        position: absolute;
        padding-top: 150px;
        left: 0;
        right: 0;
        margin: auto;
        .line{
            @include line-params(100px, 2px, $color3);
            margin: auto;
            margin-bottom: 30px;
        }
        h4{
            @include font-params(30px, 700);
        }
    }

    .container{
        @extend %container-props;
        margin-top: 250px;
        position: absolute;
        flex-wrap: wrap;
        .item{
            width: 230px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            margin-right: 20px;
            h6, p{
                @include font-params(20px, 700);
                line-height: 1.2;
            }
            small{
                font-size: 14px;
                font-weight: 300;
            }
            img{
                border-radius: 50%;
            }
        }
    }

    @media (max-width: 1170px) {
        .container{
            width: 90%;
        }
    }
    @media (max-width: 833px) {
        height: 850px;
        .container{
            justify-content: space-around;
        }
    }
    @media (max-width:555px) {
        height: 1300px;
        .sellers-header{
            width: 90%;
            text-align: center;
            h4{
                font-size: 25px;
            }
        }
    }
    
}

.create-nft-section{
    background-image: url('../images/dark-bg-half.jpg');
    @include bg-props;
    height: 800px;
    position: relative;

    .titles-wrapper{
        .line{
            @include line-params;
            @include centering(18%, 50%);
            position: absolute;

        }

        h5{
            @include font-params(30px);
            @include centering(38%, 50%);
            position: absolute;
            top: 25%;

            span{
                color: $color2;
            }
        }
    }

    .create-nft-wrapper{
        @extend %container-props;
        background-color: $color4;
        height: 400px;
        position: relative;
        top: 35%;
        border: $border-params;
        border-radius: 30px;
        box-shadow: 30px 25px 54px -4px rgba(0,0,0,0.51);
        -webkit-box-shadow: 30px 25px 54px -4px rgba(0,0,0,0.51);
        -moz-box-shadow: 30px 25px 54px -4px rgba(0,0,0,0.51);

        .wrapper-content{
            max-width: 1050px;
            width: 100%;
            margin: auto;

            form{
                display: flex;
                flex-wrap: wrap;
                margin-top: 5%;
                .input-box{
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 13px;
                    &:nth-child(4) input, &:nth-child(5) input{
                        width: 505px;
                    }

                    
                }
    
                input[type=text]{
                    width: 330px;
                    padding: 13px 20px;
                    border-radius: 20px;
                    background-color: rgb(29, 28, 28);
                    @include font-params(16px, 300);
                    border: none;
                    margin-right: 17px;
    
                    &::placeholder{
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
    
    
                label{
                    margin-bottom: 12px;
                    @include font-params(16px, 300);
                }
    
                input[type=file]{
                    font-size: 18px;
                    margin-top: 10px;
                    color: gray;
                }
    
                button{
                    @include button($color2, none, 680px);
                    @include font-params(15px,300);
                    transition: $button-transiton;
                    margin-top: 10px;
                    &:hover{
                        background-color: $color3;
                        color: $color2;
                    }
                }
            }
           
        }
    }

    @media (max-width: 1170px) {
        height: 1400px;

        .titles-wrapper{
            h5{
                max-width: 500px;
                text-align: center;
                width: 100%;

            }
        }

        .create-nft-wrapper{
            width: 70%;
            height: 850px;

            .wrapper-content{
                width: 90%;
                form{
                    flex-direction: column;

                    .input-box{
                        &:nth-child(4) input, &:nth-child(5) input{
                            width: 100%;
                        }
                        input{
                            width: 100%;
                        }
    
                    }

                    button{
                        width: 100%;
                    }
                }
            }
        }
    }

}


.author-section{
    background-image: url('../images/dark-bg.jpg');
    height: 1100px;
    width: 100%;
    @include bg-props;
    position: relative;

    @media (max-width:1170px) {
        height: 1800px;
    }

    @media (max-width:560px) {
        height: 2800px;
    }
    .container{
        position: absolute;
        @extend %container-props;
        margin-top: 150px;
        .image-wrapper{
            max-width: 320px;
            width: 100%;
            @include flex-props(space-between, center);

            img{
                border-radius: 50%;
                margin-right: 20px;
            }
            p{
                @include font-params;
                line-height: 1.3;
                span{
                    color: $color2;
                    font-size: 15px;
                }
            }
        }

        .followers-card{
            width: 440px;
            height: 170px;
            background-color: $color4;
            border: $border-params;
            border-radius: 20px;

            .followers-card-content{
                height: 120px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 370px;
                width: 100%;
                margin: auto;
                margin-top: 20px;
                .like-section{
                    @include flex-props(space-between, center);
                    i{
                        color: $color2;
                        font-size: 24px;
                        margin-bottom: 10px;
                    }

                    p{
                        @include font-params(16px, 300);
                        span{
                            color: $color2;
                            font-size: 18px;
                        }
                    }
                }

                .follower-section{
                    @include flex-props(space-between, center);

                    p{
                        @include font-params(18px, 700, gray)

                    }
                    button{
                        @include button($color2, none, 220px);
                        @include font-params(15px, 300);
                        transition: $button-transiton;
                        &:hover{
                            background-color: $color3;
                            color: $color2;
                        }
                    }
                }
            }

        }

        @media (max-width: 1170px) {
            flex-direction: column;
            margin-top: 100px;
            .followers-card{
                max-width: 600px;
                width: 95%;
                margin-top: 30px;
            }
        }

        @media (max-width: 480px) {
            .image-wrapper{
                transform: scale(0.8);
            }
            .followers-card-content{
                transform: scale(0.8);
            }
        }

    }
    .left-block{
        position: absolute;
        @extend %container-props;
        margin-top: 400px;
        display: inline;

        .line{
            @include line-params(100px, 2px, $color2);
            margin-bottom: 30px;
        }

        & > h4{
            @include font-params(32px, 300);
            span{
                color: $color2;
            }
        }
        @media (max-width:1170px) {
            margin-top: 550px;
            .line{
                margin: auto;
                margin-bottom: 20px;
            }        
            h4{
                text-align: center;
            }  
        }
        
    }
    .cards-wrapper-2{
        @extend %container-props;
        margin-top: 550px;
        position: absolute;
        flex-wrap: wrap;
        @extend %card-items;
        @media (max-width: 1170px) {
            margin-top: 700px;
        }
    }


}