$container-width: 1120px;


$color1: purple;
$color2: rgb(111, 60, 231);
$color3: white;
$color4: #282828;	
$color5: #5A4FCF;

$font-1:  'Roboto', sans-serif;

$border-params: 0.1em solid  gray;

$button-transiton: all 0.3s linear;
$card-transition: all 0.5s linear;


$mobile-break: 480px;
